.world-statistics-container {
  .article-type-list-count,
  .article-date-list-count,
  .article-tags-list-count {
    display: flex;
    justify-content: space-between;
  }

  h2,
  h5,
  h4,
  .article-warning {
    text-align: center;
  }

  .wordcloud-and-tags,
  .wordcloud,
  .tag-list {
    height: 37.5em;
  }

  .tag-list .article-tags-list {
    overflow-y: scroll;
    padding: 0.5em;
    height: 35em;
  }

  .article-date-list,
  .article-author-type-list {
    overflow-y: scroll;
    height: 50em;
    padding-right: 1em;
  }

  .nav-tabs {
    margin-bottom: 1em;
  }

  .progress-container {
    .alert {
      margin-top: 0.5em;
    }

    .progress {
      --bs-progress-height: 2em;
      --bs-progress-font-size: 1em;
    }
  }

  .chart-container {
    height: 70vh;
    width: 60vw;
  }
}
