.editpage {
  height: 100%;

  .blockquote {
    background: var(--dark-terror);
    padding: 1em;
    border-radius: 0em 1em 1em 0em;
    border-left: 0.7em solid var(--primary-dark);
  }

  .mention {
    background: var(--light-terror);
    border-radius: 0.5em;
    padding: 0.2em;
  }

  .editor-col {
    background: var(--darkest-terror);
    padding-bottom: 1em;
  }

  .slate-editor {
    background: var(--background-terror);
    padding: 1em;
    border-radius: 0.5em;
  }

  .slate-editor p:last-of-type {
    margin-bottom: 0;
  }
}
