.editpage {
  min-height: 100dvh;

  &-toolbar {
    background: var(--darker-terror);
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  &-toolbar-toggle {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 0.25rem;
    align-items: center;
    justify-content: center;
  }

  &-toolbar-actions-buttons {
    margin-top: 0.6rem;
  }

  @media (min-width: 768px) {
    #article-edit-toolbar-actions.collapse:not(.show) {
      display: block !important;
    }

    &-toolbar-actions-buttons {
      margin-top: 0rem;
    }
  }

  .blockquote {
    background: var(--dark-terror);
    padding: 1em;
    border-radius: 0em 1em 1em 0em;
    border-left: 0.7em solid var(--primary-dark);
  }

  .mention {
    background: var(--light-terror);
    border-radius: 0.5em;
    padding: 0.2em;
  }

  .editor-col {
    background: var(--darkest-terror);
    min-height: 100dvh;
    padding-bottom: 1em;
  }

  .slate-editor {
    background: var(--background-terror);
    padding: 1em;
    border-radius: 0.5em;
  }

  .slate-editor p:last-of-type {
    margin-bottom: 0;
  }

  h3 {
    color: var(--off-white);
    font-size: 1.25rem;
  }

  .form-label {
    color: var(--off-white);
    font-size: 1.1rem;
  }

  form {
    padding: 0.5em 0em;
  }

  .article-tags-input {
    background: var(--bs-body-bg);
    border-color: var(--bs-border-color);
    color: var(--bs-body-color);

    .react-tagsinput-input {
      color: var(--bs-body-color);
      font-size: 16px;
      width: 6em;
      margin-bottom: 0;
    }

    &.react-tagsinput--focused {
      color: var(--bs-body-color);
      background-color: var(--bs-body-bg);
      border-color: var(--primary);
    }

    .react-tagsinput-tag {
      background-color: var(--primary);
      border-color: var(--primary-dark);
      color: white;
      border-radius: 0.375rem;
      font-size: 16px;
      margin-bottom: 0;

      &:hover {
        .react-tagsinput-remove {
          color: var(--primary-light);
        }
      }
    }

    .react-tagsinput-remove {
      color: white;
      text-decoration: none;
      transition: 0.2s;
    }
  }
}
