.homepage {
  .col {
    display: flex;
    align-items: stretch;
    justify-content: center;
  }

  .card {
    width: 18rem;
    margin: 0.5em;

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }
}
