@import "~@fortawesome/fontawesome-svg-core/styles.css";

.paragraph-indent {
  text-indent: 50px;
}

.dropcap {
  font-weight: 700;
  font-size: 70px;
  text-transform: uppercase;
  padding-right: 10px;
}
