#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.brigid-container {
  padding: 0em 2em 2em 2em;
  margin-top: 3em;
}

.world-select-container {
  display: flex;
  flex-direction: row;
}