.button-container {
  button {
    margin-right: 1em;
  }
}

.button-top {
  display: none;
}

.form-control {
  background: var(--dark-terror);
  border-color: var(--light-terror);
  color: var(--lightest-terror);
}

.widthSmall {
  max-width: 20em;
}

.pagecount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  * {
    padding: 0.4em;
  }
}

table th.cursor-pointer span {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  margin-left: 0.5em;
}