.button-container {
  button {
    margin-right: 1em;
  }
}

.button-top {
  display: none;
}

.form-control {
  background: var(--dark-terror);
  border-color: var(--light-terror);
  color: var(--lightest-terror);
}

.widthSmall {
  max-width: 20em;
}

.pagecount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  * {
    padding: 0.4em;
  }
}

.pagination button {
  --bs-btn-padding-x: 1.3em;
  --bs-btn-padding-y: 0.8em;
}

.table-container {
  .table-select-tags {
    font-weight: 400;
  }

  .badge {
    margin: 0.2em;
  }

  .cell-editing {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .input-group {
      width: auto;
    }

    input.form-control {
      color: white;
      max-width: 8em;
    }
  }

  .cell-edit,
  .cell-save,
  .cell-cancel {
    padding: 4px;
    margin: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  table th.cursor-pointer span {
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin-left: 0.5em;
  }
}
