@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1650px;
  }
}

.button-container {
  button {
    margin-right: 1em;
  }
}

.button-top {
  display: none;
}

.form-control {
  background: var(--dark-terror);
  border-color: var(--light-terror);
  color: var(--lightest-terror);
}

.widthSmall {
  max-width: 20em;
}

.exporter {
  padding: 0.5em 0em;
}

.pagecount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  * {
    padding: 0.4em;
  }
}

.pagination button {
  --bs-btn-padding-x: 1.3em;
  --bs-btn-padding-y: 0.8em;
}

.table-container {
  .top-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .fetch-button {
      width: 10em;
    }
  }

  .table-select-tags {
    font-weight: 400;
  }

  .badge {
    margin: 0.2em;
  }

  .cell-editing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.2em;

    .cell-edit-buttons {
      display: flex;
      flex-direction: column;
      gap: 0.2em;
    }

    .react-tagsinput {
      background: var(--dark-terror);
      border-color: var(--light-terror);
      color: var(--lightest-terror);

      &-input {
        color: var(--lightest-terror);
        font-size: 16px;
        width: 6em;
      }

      &--focused {
        color: var(--bs-body-color);
        background-color: var(--bs-body-bg);
        border-color: var(--primary);
      }

      &-tag {
        background-color: var(--primary);
        border-color: var(--primary-dark);
        color: white;
        border-radius: 0.375rem;
        font-size: 16px;

        &:hover {
          .react-tagsinput-remove {
            color: var(--primary-light);
          }
        }
      }

      &-remove {
        color: white;
        text-decoration: none;
        transition: 0.2s;
      }
    }
  }

  .col-tags {
    display: inline-block;
    margin-right: 0.3em;
  }

  .cell-edit,
  .cell-save,
  .cell-cancel {
    padding: 4px;
    margin: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .cell-edit.form-control {
    resize: both;
    min-width: 10em;
  }

  .full-detail-table {
    .col-tags ~ .col-filter {
      max-width: 11em;
    }

    .col-editURL ~ .col-filter .input-group,
    .col-url ~ .col-filter .input-group,
    .col-copyblock ~ .col-filter .input-group {
      max-width: 3em;
    }

    .col-wordcount ~ .col-filter .input-group {
      max-width: 8em;
    }

    .col-entityClass ~ .col-filter .table-select-type {
      min-width: 9em;
    }

    .col-wordcount {
      min-width: 6em;
    }

    .cell-likes,
    .cell-wordcount,
    .cell-isWip,
    .cell-isDraft,
    .cell-state,
    .cell-url,
    .cell-editURL,
    .cell-copyblock {
      text-align: center;
    }

    .cell-title {
      max-width: 10em;
      width: 10em;
      min-width: 10em;
    }

    .col-isDraft,
    .col-isWip,
    .col-state,
    .col-likes,
    .col-state,
    .col-date {
      min-width: 5em;
    }

    .col-wordcount {
      min-width: 7em;
    }
  }

  .excerpt-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5em;

    .excerpt-text {
      max-width: 10em;
      display: inline-block;
      word-wrap: break-word;
    }
  }

  .tag-select {
    display: inline-block;

    .form-switch {
      display: inline-block;
    }

    .form-check-label {
      font-weight: 500;
      font-size: 0.9em;
      color: var(--lightest-terror);
    }
  }

  table th.cursor-pointer span {
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin-left: 0.5em;
  }

  .table {
    --bs-table-hover-bg: var(--dark-terror);
  }
}
