@media (min-width: 1400px) {
  #image-manager-container {
    max-width: 1650px;
  }
}

@media (min-width: 1050px) {
  #image-manager-container {
    max-width: 1650px;
  }
}

@media (min-width: 2050px) {
  #image-manager-container {
    max-width: 1850px;
  }
}
