.worldanvil-search-results {
  .card {
    margin-top: 0.5em;

    .card-title {
      display: flex;
      flex-direction: row;
      gap: 0.25em;
      justify-content: flex-start;
      align-items: center;
    }
  }
}
