.navigation {
  .navbar .nav-link {
    color: white;
    padding: 0.5em 1em;
  }

  .world-selector-nav form {
    display: flex;
    flex-direction: row;

    button {
      margin-left: 0.5em;
    }
  }

  nav.navbar {
    padding: 0.5em 1em;
  }

  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;

    &.nav-current-user {
      margin-left: auto;
    }

    .current-user,
    .current-world {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0em 1em;

      dd {
        margin-bottom: 0;
        padding-right: 0.3em;
      }
    }

    &.nav-dev-updates {
      svg {
        margin-right: 0.3em;
      }
    }
  }

  @media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
      display: block !important;
      flex-basis: auto;
    }
  }
}
